.postlist{
    flex: 8;
}
.postlist .main{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.postlist .main h1{
    text-align: center;
    border-bottom: 3px double #aaa;
    padding-bottom: 20px;
}
.postCollect{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 5% 2%;
}
.postCollect>div{
    width: 300px;
    height: 200px;
    border: 2px solid #bbb;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 2%;
    cursor: pointer;
    background-color: #eee;
    margin: 0 3% 20px;
}
.postCollect>div:hover{
    border-color: #333;
    background-color: #fff;
    box-shadow: 0 0 0 4px rgba(0, 0, 0, .15);
}
.postCollect>div .title{
    height: 30%;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}
.postCollect>div .content{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}